body {

	  background-image: url("img/fond.png");
	  background-size: 100%;
	  background-repeat: no-repeat;
}

div.projets {

	
	line-height: 60px;
	padding-top: 10px;
	border-radius: 20px;
	display: grid;
  	height: 94%;
  	width: 100%;
	place-items: top;
  	text-align: top;
  	border: unset;
  	background:
	    linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
	    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
	    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);


}



h1.projets {

	 font-family: "Open Sans";
	 src: url("https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fBBc4.woff2") format("woff2");

}

